[run]
# source = sabac
omit =
    ./tests/*
    ./.tox/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise ValueError
    raise NotImplementedError
    logging.warning
skip_covered = True
