.github/
venv/
.tox/
build/
docs/
examples/
*.egg-info/
dist/
tests/
.env
.run/
.idea/
.git/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
__pycache__
.gitignore
.gitmodules
.dockerignore
.coverage
.coveragerc
Dockerfile
*.ipynb
*.pdf
*.lnk
*.bat
*.sh
/*.txt
*.po
*.md
!requirements.txt
tox.ini
